@using LCMClient.Features.Shared.Models


@if (Orphans is not null)
{
    <div class="grid grid-cols-3 gap-2">
        @foreach (var orphan in Orphans)
        {
            <OrphanCard Orphan="orphan" />
        }
    </div>
}


@code {

    [Parameter]
    public List<OrphanModel> Orphans { get; set; }
}
