<div class="md:flex mb-8 bg-blue-700 p-4 items-center justify-between">
    <div class="flex items-center space-x-2">
        @ChildContent
        <h3 class="text-white text-2xl font-bold">@HeaderText</h3>
    </div>
    <div class="">
        @if (@ShowButton)
        {
            <button @onclick="ButtonOnclickHandler" class="bg-yellow-200 hover:bg-yellow-500 text-blue-900 font-semibold hover:text-white py-2 px-4 rounded">
                <div class="flex items-center">
                    <i class="@ButtonIcon mr-2"></i> @ButtonText
                </div>
            </button>
        }

    </div>
</div>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string HeaderText { get; set; }

    [Parameter]
    public string HeaderIcon { get; set; }

    [Parameter]
    public EventCallback ButtonOnclickHandler { get; set; }

    [Parameter]
    public string ButtonIcon { get; set; }

    [Parameter]
    public string ButtonText { get; set; }

    [Parameter]
    public bool ShowButton { get; set; }
}