@page "/"
@page "/index"
@page "/home"
@page "/dashboard"
@attribute [Authorize]

@using LCMClient.Features.Dashboard.Components

@inject IDashboardRepository DashboardRepository



<div class="bg-gradient-to-r from-blue-200 to-red-200 bg-opacity-25 w-full pt-4 pb-4 border-2 border-white">
    <div class="flex flex-col items-center md:flex-row md:items-end md:justify-center">
        <div class="justify-center">
            <img class="" src="images/LMCSMS_Icon_88x88_transparent.png" alt="Life for Children Ministry" />
        </div>
        <div class="text-center">
            <h1 class="text:lg md:text:2xl md:text-5xl primary-text-color">Life For Children Ministry</h1>
            <span class="text-capitalize text-xl md:text-3xl">Social Management System</span>
        </div>
    </div>
</div>

<div>
    <TotalCounts />
</div>


<div class="flex flex-col md:flex-row md:mr-20 md:ml-20 md:space-x-6 mt-12 p-2 mb-8">
    <div class="w-full md:w-1/2 p-2 mb-6 text-center">
        <OrphanStatistics />
    </div>
    <div class="w-full md:w-1/2 p-2 text-center">
        <NarrationStatistics />
    </div>
</div>


@code {


}