@using LCMClient.Features.Dashboard.Models

@inject IDashboardRepository dashboardRepository

@if (isLoading)
{
<LoadingAnimation />

}
else
{
    <div class="flex flex-wrap mx-6 mt-4">
        <div class="w-full mt-6 px-6 sm:w-1/4 xl:mt-0">
            <div class="flex items-center px-5 py-6 shadow-md rounded-md bg-white">
                <div class="p-3 rounded-full bg-indigo-600 bg-opacity-75 text-white">
                    <OrphanSVG Width="10" Height="10" />
                </div>

                <div class="mx-5">
                    <h4 class="text-2xl font-semibold text-gray-700">
                        @totalCounts?.TotalOrphans
                    </h4>
                    <div class="text-gray-500">Orphans</div>
                </div>
            </div>
        </div>
        
          <div class="w-full mt-6 px-6 sm:w-1/4 xl:mt-0">
                    <div class="flex items-center px-5 py-6 shadow-md rounded-md bg-white">
                        <div class="p-3 rounded-full bg-red-600 bg-opacity-75 text-white">
                            <OrphanSVG Width="10" Height="10" />
                        </div>
        
                        <div class="mx-5">
                            <h4 class="text-2xl font-semibold text-gray-700">
                                @totalCounts?.TotalVulnerables
                            </h4>
                            <div class="text-gray-500">Vulnerables</div>
                        </div>
                    </div>
                </div>

        <div class="w-full mt-6 px-6 sm:w-1/4 xl:mt-0">
            <div class="flex items-center px-5 py-6 shadow-md rounded-md bg-white">
                <div class="p-3 rounded-full bg-purple-600 bg-opacity-75 text-white">
                    <GuardianSVG Width="10" Height="10" />
                </div>

                <div class="mx-5">
                    <h4 class="text-2xl font-semibold text-gray-700">
                        @totalCounts?.TotalGuardians
                    </h4>
                    <div class="text-gray-500">Guardians</div>
                </div>
            </div>
        </div>

        <div class="w-full mt-6 px-6 sm:w-1/4 xl:mt-0">
            <div class="flex items-center px-5 py-6 shadow-md rounded-md bg-white">
                <div class="p-3 rounded-full bg-pink-600 bg-opacity-75 text-white">
                    <SponsorSVG Width="10" Height="10" />
                </div>

                <div class="mx-5">
                    <h4 class="text-2xl font-semibold text-gray-700">
                        @totalCounts?.TotalSponsors
                    </h4>
                    <div class="text-gray-500">Sponsors</div>
                </div>
            </div>
        </div>
    </div>
}



@code {

    private bool isLoading = true;

    private TotalCountsModel totalCounts = new TotalCountsModel();

    protected override async Task OnInitializedAsync()
    {
        totalCounts = await dashboardRepository.GetTotalCounts();
        isLoading = false;
    }
}