@page "/admin"

@using LCMClient.Features.Auth
@using LCMClient.Features.Shared.Repository.Contracts

@inject IAccountsRepository accountsRepository
@inject IUserRepository userRepository
@inject NavigationManager navigationManager
@inject ILoginService loginService
@inject IJSRuntime jsRuntime
@attribute [Authorize(Roles = "Admin")]

<div class="m-8">
    <div class="flex justify-between mb-6">
        <div class="flex ml-6">
            <div class="mr-2 text-blue-800">
                <AdminSVG Width="8" Height="8" />
            </div>
            <div>
            <h3 class="text-blue-800 font-semibold text-4xl">Administration</h3>
            </div>
        </div>
        <div class="mr-10">
            <MudButton Variant="Variant.Filled"
                       Color="Color.Primary"
                       StartIcon="@Icons.Material.Add"
                       @onclick="CreateNewUserEventHandler">
                Create New User
            </MudButton>
        </div>
    </div>

    <IndexUsers />
</div>



@code {

    private void CreateNewUserEventHandler()
    {
        navigationManager.NavigateTo("/createNewUser");
    }

}
