# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.LCMClient.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\davew\OneDrive\Documents\GitHub\LCMClient\.idea\.idea.LCMClient\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
