@page "/localstorageplay"

@inject Blazored.LocalStorage.ILocalStorageService ls

<h3>LocalStoragePlay</h3>

<MudButton OnClick="Demo1">Demo 1</MudButton>

<MudButton OnClick="Demo2">Demo 2</MudButton>

<MudButton OnClick="Demo3">Demo 3</MudButton>

<MudButton OnClick="Demo4">Demo 4</MudButton>

<MudButton OnClick="Demo5">Demo 5</MudButton>

<MudButton OnClick="Demo6">Demo 6</MudButton>

@code {
    private async Task Demo1()
    {

    }

    private async Task Demo2()
    {

    }

    private async Task Demo3()
    {

    }

    private async Task Demo4()
    {

    }

    private async Task Demo5()
    {

    }

    private async Task Demo6()
    {

    }
}
