.my-mud-card-form {
    max-width: 600px;
    margin-right: auto;
    margin-top: 20px;
    overflow: visible !important;
}

.mud-card-header {
    background-color: #ffdfbf;
}

.mud-main-content {
    background-color: #d8e5f2;
}
