@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <MudIcon Icon="@Icons.Material.Person" />
        <span class="mr-6 ml-2">@context.User.Identity.Name</span>
        <button class="text-gray-100" @onclick="BeginSignOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <button class="text-gray-100" @onclick="Login">Log in</button>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("/logout");
    }

    private async Task Login(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("/login");
    }
}
